APP_PORT=8022

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable
GIN_MODE=debug

JWT_SECRET=<your-jwt-secret-key

# Admin
ADMIN_EMAIL=<your-admin-email-address>
ADMIN_PASSWORD=<your-admin-password>

# Vault
VAULT_ENABLED=true
VAULT_SECRET_ID=<your-generated-secret-id>
VAULT_ROLE_ID=<your-generated-role-id>
VAULT_ADDR=<your-vault-addr>
VAULT_KV_MOUNT=<kv-mount> 